@import url('https://fonts.googleapis.com/css?family=Convergence');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
    font-family: 'Convergence', sans-serif;
    font-size: 16px;
    line-height: 20px
}

body {
    background: #f9f9f9 url(../images/diamond-bg.png) 0 0 repeat scroll;
}

body {
    color: #3B4248;
}

a {
    background-color: transparent;
    text-decoration: none
}

a, .Title {
    color: #3B4248;
}

a:hover {
    text-decoration: none;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 25px
}

h3 {
    font-size: 20px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 15px
}

h6 {
    font-size: 12px
}

.Container {
    margin: 0 auto;
    padding: 0 15px
}

h1, h2, h3, h4, h5, h6, p, table, input, textarea, button, select, .Select {
    margin-bottom: 15px
}

button, input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    color: inherit;
    font: inherit;
    width: 100%;
    vertical-align: middle
}

button, input, textarea, select, label, a {
    transition: all .2s linear
}

.Button, button, input[type="button"], input[type="reset"], input[type="submit"] {
    border: 0;
    box-shadow: none;
    cursor: pointer;
    padding: 10px 15px;
    width: auto;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
}

button[disabled], input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner, select::-moz-focus-inner {
    border: 0;
    padding: 0
}

.Button, a.Button, button, input[type="button"], input[type="reset"], input[type="submit"] {
    background-color: #3B4248
}

.Button:hover, a.Button:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: #01BCF3
}

.Button, a.Button, button, input[type="button"], input[type="reset"], input[type="submit"] {
    color: #fff
}

.Body {
    position: relative;
    z-index: 2;
    padding-top: 20px;
}

.Body > div {
    width: 100%;
}

.Page404Cn {
    display: table;
    width: 100%;
    height: 100%;
}

.Page404 {
    text-align: center;
    display: table-cell;
    padding-bottom: 20px;
    vertical-align: middle;
}

.Page404 img {
    pointer-events: none;
    margin: 0 auto 20px;
}

.Page404 .Button {
    border-radius: 20px;
    width: 100%;
    max-width: 270px;
}

.Page404 .Title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
}

.Page404 .SubTitle {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 30px;
    font-weight: 500;
}

figure img {
    display: block;
    vertical-align: top;
}

.action-button > input {
    width: 100px;
    background-color: #01BCF3;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.action-button:hover, .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
    background-color: #27AE60;
}

.Title {
    color: #3B4248;
    font-family: 'Permanent Marker', sans-serif;
    text-align: center;
}

.Header {
    color: #306efe;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 72px;
    text-align: center;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

