doctype 
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Finality
    body
                    h1 Jesus Montoya & Kevin Picón
                    img(src="https://www.upb.edu.co/es/colegio/imagenes/upb-logo-1422010671195.png")
                    h2 Su nuevo nombre es:
                    for value,key in personas 
                        h3 #{key} : #{value}
                    br
                    a(type="button" class="Button" href="/") Generar!
            

            